.row {
    --bs-gutter-x: 0rem;
}
.pre-order {
    min-width: 262px;
    .image-group {
        display: flex;

        .image-item {
            padding: 4px;
        }
    }
}
@media (max-width: 1024px) {
    .pre-order {
        min-width: auto; 
    }
}