.input-tel {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 24px 80px 0;
    font-size: 16px;

    .form-control {
        background-image: url(./be70cffa35fdd031b20bcc67479009b7.jpg);
        background-repeat: no-repeat;
        background-position: left center;

        background-size: 60px;
        padding-left: 60px;

        border-radius: 30px;
    }

    .btn {
        border-radius: 30px;
    }
}